.photo-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    align-items: stretch;
    justify-items: stretch;
    gap: 16px;
    margin: 92px auto;
    
}

@media screen and (max-width:1183px) {
    .photo-grid {
        max-width: calc(100% - 48px * 2);
        gap: 14px;
    }
}

@media all and (max-width:1023px) {
    .photo-grid {
        max-width: calc(100% - 2 * 24px);
        gap: 16px;
        margin: 88px auto;
    }
}

@media all and (max-width:767px) {
    .photo-grid {
        max-width: calc(100% - 2 * 16px);
        gap:12px;
        margin: 64px auto;
    }
}