.cover {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    background-image: url('../../../russian-travel/images/cover-trains.jpg');
    padding-bottom: 60.25%;
    background-size: cover;    
}
