.cover {
    max-width: 100%;
    position: relative;
    margin: 92px 0 92px 0;
}

@media all and (max-width:1023px) {
    .cover {
        margin: 88px 0 88px 0;
    }
}

@media all and (max-width:767px) {
    .cover {
        margin: 64px 0 64px 0;
    }
}