.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    box-sizing: border-box;
    justify-items: stretch;
    width: 100%;
    padding-bottom: 80px;
}

.place:last-child {
    padding-bottom: 0;
}

@media screen and (max-width:1183px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media all and (max-width:1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        padding-bottom: 72px;
    }
}

@media all and (max-width:767px) {
    .place {
        grid-template-columns: 1fr;
        gap:0;
        padding-bottom: 48px;
    }
}