.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

@media screen and (max-width:1183px) {
    .footer{
       width: calc(100% - 2 * 48px);
       margin: 28px auto 48px auto;
    }
}

@media screen and (max-width:1023px) {
    .footer{
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width:767px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - 2 * 24px);
        margin: 16px auto 48px auto;
    }   
}